*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    cursor: none;
    background-color: rgb(120, 111, 149);
}

img{
    height: 40px;
    position: absolute;
}
