*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#card{
    height: 200px;
    width: 500px;
    background-color: #afabab;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    right: 600px;
    bottom: 50%;

}   

#progress{
    height: 100%;
    width: 0%;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;

}

#groth{
    height: 100%;
    width: 0%;
    background-color: #000000;
    position: absolute;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 5px;
    cursor: pointer;

}

#btn{

}