*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
}

/* ////////////////////////////////////////////////////////////////////// */
nav {
    height: 10%;
    width: 40%;
    margin: auto;
    border-radius: 23px;
    padding: 10px;
    backdrop-filter: blur(23px);
    box-shadow: 20 20 23px rgba(0, 0, 0, 0.1);
    background-color:black;
    border: solid white;

    div{
        color: white;
    }
}
a {
    text-decoration: none;
    color: rgb(23, 1, 1);
}

a div {
    transition: all ease 0.5s;
}

.navlink {
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
    height: 2rem;
    overflow: hidden;
    justify-content: center;
}

#bottom {
    color:red;
}

a:hover {
    #top {
        transform: translateY(-100%);
    }

    #bottom {
        transform: translateY(-100%);
    }
}

/* /////////////////////////////////////////////////////////////// */

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-color:black;
}   
.page {
    height: 100vh;
    position: sticky;
    border-radius: 32px;
    top: 0;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

#page1 #leftbox{
    height: 100%;
    width: 40%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 2rem;
    position:absolute;
    left: 10%;
    
    background-size: cover;
}
#page1 #leftbox2{
    height: 250px;
    width: 250px;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 2rem;
    position:absolute;
    right: 25%;
    
    background-size: cover;

}


#page1 {
    background-color: black;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/1200x/98/1d/82/981d82183ea1ae61b19a532c56a22d3a.jpg);
    background-size: cover;
}
#page2 {
    background: transparent;
    top: 10%;

    #leftbox{
        height: 80%;
        width: 30%;
        background-color: rgba(15, 14, 14, 0.5);
        position: absolute;
        left: 10%;
        bottom: 80px;
        border-radius: 20px;
        background-image: url(https://i.pinimg.com/736x/af/62/b1/af62b191f42775b1ac4c673e90ce7d91.jpg);
        background-size: cover;
        border: solid 1.5px white;
    
            }
        }



            #rightbox {
                    height: 200px;
                    width: 450px;
                    background-color: #c91313;
                    position: absolute;
                    left: 400px;
                    top: 90px;
                    border-radius: 20px;
                    background-image: url(https://i.pinimg.com/1200x/bd/df/36/bddf36f66cddbc00ff431d6678dc78be.jpg);
                    background-size: cover;
                    border: solid 1.5px white;
                    
                }


#page3 {
    background:transparent;
    top: 25%;

    #textbox {
        height: 150px;
            width: 450px;
            background-color: transparent;
            position: absolute;
            left: 700px;
            top: 250px;
            border-radius: 20px;
            border: solid 1.5px white;


            h4{
                font-size: 10px;
                padding: 40px ;
                color:gold;
            }
        }
}


#page4 {
    background: black;
    top: 30%;

    #leftbox {
        height:300px;
            width: 250px;
            position: absolute;
            left: 100px;
            top: 50px;
            border-radius: 20px;
            border: solid 1.5px white;
        background-image: url(https://i.pinimg.com/736x/ac/fa/f0/acfaf00dc4e4bdd9ea15ec5cbbd06399.jpg);
        background-size: cover;

        #rightbox2{
            height: 300px;
                width: 250px;
                position: absolute;
                left: 280px;
                top: 50px;
                border-radius: 20px;
                border: solid 1.5px white;
            background-image: url(https://i.pinimg.com/1200x/26/4e/8c/264e8ce7f6f2ed4a44688503355c4b95.jpg);
            background-size: 230px;

        #rightbox3{
            height: 300px;
                width: 250px;
                    position: absolute;
                    left: 280px;
                    bottom: 40px;
                    border-radius: 20px;
                    border: solid 1.5px white;
                    background-image: url(https://i.pinimg.com/1200x/98/26/6d/98266df673f65393b0274373a6ed1e19.jpg);
                    background-size: 230px;

        #rightbox4{
        height: 300px;
        width: 250px;
        position: absolute;
        left: 280px;
        top: 40px;
        border-radius: 20px;
        border: solid 1.5px white;
        background-image: url(https://i.pinimg.com/1200x/fe/0c/00/fe0c0034c05c0c3b2f7d9cff3c880f22.jpg);
        background-size: cover;
        }

        }

        }
    }

}

.pageblur{
    backdrop-filter: blur(20px);
    height: 100vh;

    #end{
        height: 300px;
            width: 600px;
            position: absolute;
            left: 280px;
            top: 80px;
            border-radius: 20px;
            border: solid 1.5px white;
            background-image: url(https://i.pinimg.com/1200x/00/1c/f7/001cf71deaca341952d5c367833e589e.jpg);
            background-size: cover;
    }


}
.pagekhatam{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: uppercase;
    background: radial-gradient(orange, red);
    position: absolute;
}
