*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    background-color: rgb(255, 192, 203);
    color: white ;
}   

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color:black;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
}

button:active{
    transform: scale(0.98);
}