*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
height:100%;
width:100%;
display:flex;
justify-content:center;
align-items:center;
background:#111;
}

#card{
width:500px;
height:220px;

background:#afabab;

border-radius:15px;

padding:20px;

display:flex;

flex-direction:column;

justify-content:center;

gap:30px;
}

#progress{
height:20px;

width:100%;

background:#ddd;

border-radius:20px;

overflow:hidden;
}

#growth{
height:100%;

width:0%;

background:limegreen;

border-radius:20px;

transition:0.1s;
}

.controls{
display:flex;

justify-content:space-between;

align-items:center;
}

button{
padding:10px 20px;

border:none;

cursor:pointer;

background:black;

color:white;

border-radius:5px;
}