*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}

#nav1{
    height: 8%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    color: white;
    display: flex;
    position:fixed;
    align-items:center; 
    font-size: 22px;
    
    #webname {
            padding: 20px;
    
        }
    #nav2 {
    display: flex;
    margin: 70%;
    gap: 10px;
    }

}


#nav3{
    height:40%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    color:orangered;
    text-align: center;
    padding: 120px;

    h1{
    font-size: 50px;
    }

    h4 {
        font-size: 12px;
        color: white;
        margin-top: 10px;
        font-size: 20px;
        }
    }



#nav4{
    display: flex;
    margin-left: 50px;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

    p{
        margin-top: 220px;
        font-size: 20px;
        margin-left: 20px;
    }

}
#nav5 {
    height: 50%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    color: black;
    text-align: center;
    padding: 80px;
    margin-top: 150px;

    #info{
    color: orangered;
    display: flex;
    gap: 35%;
    font-size: 40px;


    }

    p{
        color: white;
        position: absolute;
        left: 5%;
        margin-top: 20px;
        font-size: 20px;
    }

    #category{
        color: white;
        margin-top: 20px;
        font-size: 20px;

    }
    #con{
        color: white;
        font-size: 30px;
        position: relative;
        left: 700px;
        bottom: 95px;
    
        #instagram:hover{
            color:rgb(202, 45, 137);
        }
        #WhatApp:hover{
            color: rgb(108, 185, 108);
        }
        #Facebook:hover{
            color: blue;
        }
    }
}
    


#box1,#box2,#box3,#box4,#box5,#box6,#box7,#box8,#box9{
    height: 300px;
    width: 350px;
    background-color: rgb(18, 18, 18);
    align-items: center;
    display: flex;
    color: white;
    border-radius: 10px



}
        #box1 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/067/229/284/small_2x/pair-of-stylish-white-sneakers-with-minimalist-design-featuring-clean-lines-and-classic-lace-up-style-perfect-for-casual-wear-png.png);
            background-position: center;
            background-size: cover;
        }

        #box2 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/047/241/340/small_2x/running-sneaker-isolated-on-transparent-background-free-png.png);
            background-size: cover;
            background-position: center;
        }

        #box3 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/046/407/710/small_2x/unique-and-aesthetically-colorful-details-of-the-upper-mesh-yellow-premium-running-sports-shoes-sneakers-isolated-on-a-transparent-background-free-png.png);
            background-size: cover;
            background-position: center;
        }

        #box4 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/048/896/979/small_2x/blue-converse-sneakers-free-png.png);
            background-size: cover;
            background-position: center;
        }

        #box5 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/057/348/801/small_2x/black-running-shoe-with-orange-shoelaces-isolated-on-transparent-background-png.png);
            background-size: cover;
            background-position: center;
        }

        #box6 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/066/763/611/small_2x/render-black-sneakers-sports-shoes-with-transparent-background-png.png);
            background-size: cover;
            background-position: center;
        }

        #box7 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/074/822/245/small_2x/stylish-orange-and-white-sports-sneakers-for-comfort-and-performance-png.png);
            background-size: cover;
            background-position: center;
        }

        #box8 {
            background-image: url(https://static.vecteezy.com/system/resources/thumbnails/050/246/374/small_2x/converse-sneaker-isolated-on-transparent-background-free-png.png);
            background-size: cover;
            background-position: center;
        }

        #box1:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box2:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box3:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box4:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box5:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box6:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box7:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }

        #box8:hover {
            transform: translate(-10px);
            box-shadow: 0 10px 25px blue;
        }