    *{
        margin:0%;
        padding:0%;
        box-sizing: border-box;
    }

    html,body{
        height: 100%;
        width: 100%;
    }
    
    #parent{
        width:  100%;
        display: flex;
        background-color: black;
        color: white;
        justify-content: center;
        position: fixed; 
    }

    h1{
        font-size: 30px;
        padding: 10px;
        animation-name: anima;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        
    }
    @keyframes anima {
        from{
        transform: translate(0%);
        }
        to{
        transform: translate(-100%);
        }
    }